table {
	border-collapse: collapse;
  border: 12px solid white;
  margin-top: -12px;
  margin-left: -10px;
}

td {
	content: ' ';
	width: 90px;
	height: 50px;
	background-color: #fff;
	border: 10px solid #000;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.blue {
	background-color: blue;
}

.doublewidth {
	width: 100px;
}

.doubleheight {
	height: 100px;
}
